<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="site cv de M.Theriot Aurélien, web developer, php symfony, aurelien-theriot.atspace.eu">
            <meta name="keywords" content="Thériot Aurélien, cv, web developer, theriot">
        {% endblock %}
            
        <title>{% block title %} &#9775;{% endblock %}</title>

            

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
   
        {% block stylesheets %}
	        <!-- Bootstrap -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <!-- Custom CSS -->
            <link href="{{ asset('css/myConfig.min.css') }}" rel="stylesheet">

            <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Exo" rel="stylesheet">
            
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>


    <body id="top">
        
        <div class="container-fluid">
            <nav class="navbar navbar-perso navbar-fixed-top">
                <div class="container-fluid">
    
                    {% block brand %}
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header navbar">
                        <button type="button" class="navon navbar-toggle collapsed burger" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="#top">Aurélien Thériot<br/>Développeur PHP Symfony</a>
                    </div>
                    {% endblock %}
    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav">
                            <div class="row">
                                {% block presentation %}
                                <li>
                                    <a href="{{ path('homepage') }}"><div class="navon col-xs-1 col-sm-1 col-md-1">&#9775; Accueil</div></a>
                                </li>
                                {% endblock %}
                                {% block creation %}
                                <li>
                                    <a href="{{ path('portfolio') }}"><div class="navon col-xs-1 col-sm-1 col-md-1">&#9749; Travaux</div></a>
                                </li>
                                {% endblock %}
                                {% block cv %}
                                <li>
                                    <a href="{{ path('cv') }}"><div class="navon col-xs-1 col-sm-1" col-md-1>&#9733; Mon CV</div></a>
                                </li>
                                {% endblock %}
                                {% block contact %}
                                <li>
                                    <a href="{{ path('contact') }}"><div class="navon col-xs-1 col-sm-1" col-md-1>&#9742; Contact</div></a>
                                </li>
                                {% endblock %}
                                {% block navanchor %}{% endblock %}
                            </div>
                        </ul>
                    </div>

                </div>
            </nav>

            <header class="row">
                {% block section %}{% endblock %}
            </header>

            <span id="bottom"></span>

            <footer class="nav navbar-perso2 navbar-fixed-bottom">
                {% block footer %}        
                    Site crée sous Symfony 3 et bootstrap par THERIOT.Aurélien
                {% endblock %}
            </footer>
        
        </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
