{% extends 'base.html.twig' %}

{% block title %}
	Accueil {{ parent() }}
{% endblock %}



{% block presentation %}
  <div class="disabled col-xs-1 col-sm-1 col-md-1">&#9775; Accueil</div>
{% endblock %}

{% block navanchor %}
	<div class="btn-group hidden-xs"> 
		<button class="navon dropdown-toggle" data-toggle="dropdown">Naviguer <span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#top"><span class="glyphicon glyphicon-picture"></span> Introduction</a></li>
		  <li><a href="#secondplan"><span class="glyphicon glyphicon-user"></span> Présentation</a></li>
		  <li><a href="#thirdplan"><span class="glyphicon glyphicon-briefcase"></span> Parcours</a></li>
		  <li><a href="#thanks"><span class="glyphicon glyphicon-education"></span> Openclassrooms</a></li>
		</ul>
	</div>
{% endblock %}

	
{% block section %}

	<article id="backgroundaccueil">
		<div class="container">

			<section id="title">
            	<div class="row">
					<h1 class="folio-title">Bienvenue sur mon site CV !</h1>
					<br/>
					<h3 class="folio-title">
						<em>
							<p>Passionné par la création numérique, aussi bien en programmation que par le design,</p>
							<p>c'est tout naturellement que je me suis tourné vers les métiers du Web.</p>
						</em>
					</h3>
					<br/>
					<h4>
						<p>Je suis a présent développeur spécialisé en PHP sous Symfony</p>
					</h4>
					<br/>
					<h5>
						<p>Si vous désirez en apprendre davantage sur ma personne,</p>
						<p>je vous invite à faire défiler cette page ou à me contacter via l'onglet Contact.</p>
					</h5><span id="secondplan"></span>
				</div>
			</section>

			<section id="whoiam">
				<h1 class="titleplan">Présentation</h1>
				<div class="row">
				<div class="introduce col-lg-12">
				
				<p><img src="{{ asset('img/illustrations/langres.jpg') }}" class="floatimage" alt="Ville de Langres"/>
				
				<p>Je m'appelle Aurélien Thériot, je suis né à Langres dans la Haute Marne le 11 mai 1982.</p>
				<p>Lorsque j'étais plus jeune, je dessinais beaucoup.
				Je n'avais certes pas un talent hors normes mais un coup de crayon suffisant pour donner une âme à ce qui sortait de mon imagination.</p>
				<p>Aujourd'hui des logiciels comme Photoshop me permettent de mixer, transformer ou adapter des photos et illustrations à ma guise et je pourrais y passer des heures.</p>
				<br/>
				<p>Mais il y a un domaine qui me fascine tout autant, la programmation...</p>
				<p>Elle m'apporte bien des choses, comme le divertissement en cherchant à résoudre chaque énigme que la providence met sur ma route.
				Ou encore l'excitation et la satisfaction de pouvoir créer quasiment tout ce qui me passe par la tête avec pour seule limite, celle mes connaissances toujours en constante expansion.</p>
				<br/>

				<p>J'ai toujours été fasciné par ce qu'on est capable de faire grâce à l'évolution de la science, surtout en informatique.</p>
			
				<p>Le numérique me permet de mettre en oeuvre ma conception d'univers avec des règles que je leur attribue.</p>
				<p>J'ai commencé à faire mes griffes en 2003 en participant à des projets de modes basés sur des jeux vidéo tels que Counter Strike, Battlefield en tant que Mapper/GameDesigner.</p>
				<p>Par la suite, J'ai créé deux modules sur les jeux Neverwinternight 1 et 2 où je me suis lancé pour la première fois dans la programmation. C'était en language NwScript développé par BioWare basé sur le C.</p>
				<p>J'ai donc construit les modules de A à Z que ce soit côté game design ou programmation. Par la suite en plus de tenir à jour mes modules et autres ajouts en tous genres, j'ai été bénévolement pendant quatre ans à la tête d'une équipe de 7 personnes.
				L'objectif était de tenir un forum et d'animer le serveur du monde persistant créé pour la communauté de joueurs qui nous avait rejoints tel un mini Mmorpg se rapprochant plus des jeux de rôle papier.</p>
				<br/>

				<p>Autodidacte avec sa propre conception de l'univers qui l'entoure, l'on me dit souvent qu'au premier abord, je peux paraître froid et mystérieux, mais une fois la couche grattée, vous trouverez quelqu'un d'accessible et très ouvert d'esprit.</p>
				<p>Touche à tout, j'ai l'habitude de travailler et de trouver les solutions seul la plupart du temps, cependant exploiter la synergie d'un groupe est une chose que je trouve primordial pour obtenir de plus grands résultats.</p>
				<br/>

				<p><h4>Pourquoi ai-je décidé de me tourner vers le monde du web ?</h4></p>
				<br>
				<p>A l'origine, je rêvais de concevoir des jeux vidéo, cependant le web m'apporte ce dont j'ai besoin dans un premier temps.</p>
				<p>La conception d'un site web demande d'avoir de la ressource. Il demande de la créativité, de la logique, de la réflexion et de nouvelles connaissances constantes.</p>
				<p>Il y a de quoi faire votre bonheur dans tout ça.</p>
				<p>Donc pour débuter dans le monde de la programmation, j'ai souhaité commencer par le domaine qui me semble incontournable dans le monde de la technique.</p> 
				<br/>
				<img src="{{ asset('img/illustrations/shadowman.jpg') }}" class="floatimage" alt="S7tH"/>
				<br/>
				<h4>Mon pseudonyme et son origine</h4>
				<p>Tout le monde ou presque a un pseudonyme sur le net, ne dérogeant pas à la règle, le mien est S7tH<br/>
				 et se prononce comme le chiffre sept en français.<p>
				<p>J'ai toujours été intéressé par la mythologie grecque et égyptienne, donc j'y ai puisé mes sources.<p><!--ancre qui suis-je--><span id="thirdplan"></span><!--ancre qui suis-je-->
				<p>Seth ou Setesh / Soutekh, dans la mythologie égyptienne est représenté par un canidé et il se trouve que le loup est un animal qui me fascine.
				<p>Pour ce qui est du chiffre 7, il représente dans les évangiles un bon ou mauvais présage, j'en ai une vision ici tel le signe du ying et du yang.
				Il remplace le e originel de Seth, offrant ainsi un jeu sur la consonance...</p>
				<br/>
				
				</div>
				</div>
			</section>
				
			<br/>

			<section id="story">
				<h1 class="titleplan">L'informatique et moi</h1>
				<div class="row">
				<div class="introduce col-lg-12">
				<p><img src="{{ asset('img/illustrations/Amstrad_CPC_6128.jpg') }}" class="floatimage" alt="Amstrad_CPC_6128"/><br/>
				L'un de mes plus vieux souvenirs remonte à mes quatre ans, le jour où mon oncle était surexcité à l'idée de me dévoiler sa dernière acquisition en matière de technologie, un ordinateur Amstrad CPC 6128...</p>

				<p>Naturellement, à ce moment là je le fixai longuement d'un regard interrogateur. Un ordinateur ? Mais qu'est-ce donc...</p><br/>

				<p>Une fois branché, je découvris un téléviseur affichant des lettres sur un fond noir. Mais où sont passé ces bons vieux dessins animés dont je raffolais tant ?</p>

				<p>Il m'invita à tester le dernier jeu de conquête spatiale et
				je n'eus pas mis longtemps avant de m'émerveiller devant ce dessin animé interactif qui se présentait à moi...</p>
				<p>Mieux que la télé, on peut interagir avec l'image, l'osmose entre l'hominidé et la machine était alors née en moi.</p>

				<br/>

				<p>Puis arriva les années 90 où l'éternelle question "que veux-tu faire comme métier plus tard ?" ne cessait de retentir.</p>
				<p>Je répondais vouloir travailler dans le domaine de la création vidéoludique, mais les écoles dans le domaine n'étaient pas encore de mise, du moins en France, et les moyens d'information n'étaient pas ce qu'ils sont aujourd'hui.</p>
				<p>Ne sachant par où m'orienter, la question resta longtemps en suspens...</p><br/>
				<p>À quoi bon voguer sur l'océan de l'apprentissage lorsque l'on n'a pas de cap ? De plus, je dois avouer que n'ai su trouver en l'école traditionnelle de rééelles motivations.</p>
	
				<p><img src="{{ asset('img/illustrations/emac-g4.jpg') }}" class="floatimage" alt="iMac G4"/>Un jour, mon conseiller d'orientation, me présenta le métier de PFI en PAO (préparateur à la forme imprimante en poste assisté par ordinateur).</p>
				<p>Le métier étant étroitement lié à l'imprimerie, le nombre de places étaient divisé inégalement entre la formation de PFI et celle d'imprimeur.</p>
				<p>Afin de savoir quel métier les candidats allaient étudier, un test devait être passé.</p>
				<p>De plus à cette époque, le métier d'imprimeur considéré plus "masculin", dans 90% des cas, les femmes passaient naturellement dans la section préparatrice à la forme imprimante.</p>
				<p>Autant vous dire que seuls les hommes étaient réellement alors en compétition.</p>

				<p>J'ai eu beaucoup de chance ce jour-là, ma rédaction racontant l'histoire de nains farfelus, fit beaucoup rire sa correctrice.</p>
				<p>C'est ainsi que je fus choisi en tant qu'unique homme de la section PFI.</p><br/>

				<p>Une fois mon diplôme en poche, je m'envolai vers la magnifique ville de Strasbourg où je continuai mes études en Communication Graphique.

				C'était alors la prépréhistoire de l'internet, j'ai appris à façonner mes premiers sites vitrine avec les outils de l'époque.</p>

				<p>Mais les métiers du domaine me semblaient trop austères et peu motivants pour l'époque.</p>
				<p>Des doutes s'intallèrent quant à mon avenir professionnel...</p><br/>

				<p>Par la suite, je créai quelques sites internet pour le loisir avec notamment, un forum servant aux communautés que je fondais avec d'autres tiers, autour d'un jeu ou modules que j'avais généralement conçu.</p>

				<p>Ce que j'aimais le plus dans tout ça, c'était de partager mon univers à travers l'ambiance mise en place par le design de mes sites ainsi que le level design de mes modules.</p>
				<p>Je faisais vivre le tout en intégrant à ses univers, une histoire venant tout droit de mon imagination où bien souvent je m'inspirais des mythes et légendes.</p><br/>

				<p><img src="{{ asset('img/illustrations/mypolice.jpg') }}" class="floatimage" alt="moi dans la Police"/>Mon diplôme prenant la poussière, il fallait que je trouve une alternative.</p>

				<p>Au fond de moi-même, j'ai toujours voulu devenir un policier.</p>
				<p>Ce genre de protecteur du bien que l'on voit souvent dans les films, défendant le peuple de l'oppression du grand banditisme...</p>

				<p>Le métier, certes bien different de mes fantasmes, malgré tout me forgea une carapace bien plus solide et m'a permis de découvrir bien des choses.</p>

				<p>Cependant, certains aspects du métier m'instaurèrent rapidement une grande lassitude.</p>
	 			<p>Le fait d'être perpétuellement confronté à des êtres qui vraisemblablement avaient depuis longtemps renoncés à vouloir aller de l'avant en apprenant de leurs erreurs.</p>
	 			<p>Rien de créatif ne se présentait à moi dans ce milieu, où les mêmes scénarios ne cessaient de se répeter telle la rotation bien huilée d'un carrousel..</p><br/>

				<p>Un jour, un collègue qui partage mon opinion, proposa l'idée folle de nous lancer dans la création d'un jeu vidéo independant.</p>

				<p>Pour ma part, je m'initiai au C++, et y pris goût. Mon camarade eut des imprévus et le projet fut malheureusement interrompu.</p>
				<p>Cependant, celà éveilla en moi un intérêt pour les langages informatiques et c'est ainsi, en cherchant davantage de cours, que ma curiosité pour le monde du web fit sa réapparition.</p>
				<p>Je décidai alors de me reconvertir professionnellement.
				</p>
	
				<br/>

				<p>Après avoir quitté la Police, je m'offris une formation de WebMaster/WebDesigner.</p>
				<P>Trouvant la formation trop généraliste et autodidacte dans l'âme, je completai mes cours aupres de MOOC et diverses documentations sur les différents outils du web.</p>

				<img src="{{ asset('img/illustrations/matrix.jpg') }}" class="floatimage" alt="code"/><br/>
				<p>Tout ceci ne fut pas simple, j'étais face à un océan d'informations pas toujours très clair pour moi, il me manquait bien souvent des connaissances ou références...</p>
				<p>À chaque nouvel inconnu, s'ouvrait un nouveau sentier que je devais emprunter.</p>
				<p>Puis vint le jour où, Openclassrooms le MOOC sur lequel j'avais appris énormément, proposa des formations diplômée.</p>
				<p>J'ai pu ainsi devenir développeur d'application PHP spécialisé sur le framework Symfony.</p>
				<br/>
				</div>
				</div>
			</section>
			<br/>
			<section id="thanks">
				<h1 class="titleplan">Remerciements</h1>
				<div class="row">
				<div class="introduce col-lg-12">
				<p><a href="https://openclassrooms.com" target="_blank"><img src="{{ asset('img/illustrations/opcr.jpg') }}" class="floatimage" alt="Logo Openclassrooms"/></a></p><br/>
				<p> Je remercie toute l'équipe <a href="https://openclassrooms.com" target="_blank">Openclassrooms</a>, et tout particulièrement mon mentor le <a href="https://www.malt.fr/profile/guillaumeremy1" target="_blank">Dr Guillaume Rémy</a> qui a su m'accompagner tout au long de ma formation et me donner de précieux conseils.</p>
				<p> Sans eux, je n'aurais certainement pas acquis un aussi bon savoir faire et professionnalisme. Je recommande sincèrement <a href="https://openclassrooms.com/paths" target="_blank">leurs parcours de formation</a> très complets, créer par des professionnels pour former des professionnels.</p>
				<p> Leurs méthodes sont pour moi l'avenir de l'apprentissage après avoir vécu d'autres formations bien moins convaincante au sein d'autres organismes.
				<br/>
				
	
				<p>Merci de votre visite ! <img src="{{ asset('img/illustrations/tagS7th.png') }}"  alt="logo S7tH"/></p>
				<br/>
				</div>
				</div>
			</section>
		</div>
</article>

{% endblock %}
