{% extends 'base.html.twig' %}

{% block title %}
    Portfolio {{ parent() }}
{% endblock %}

{% block creation %}
  <div class="disabled col-xs-1">&#9749; Travaux</div>
{% endblock %}


{% block section %}
<article id="backgroundportfolio" class="col-xs-12">
<div class="container">

<div class="row">

    <br/>
      <h3 class="folio-title">Mes applications web</h3>
    <br/>
  
       <a class="col-md-4" href="https://github.com/S7tH/OPC_Projet8" title="Améliorez une application existante de ToDo & Co" target="_blank"><img class="illusite"  src="{{ asset('img/mincarousel/todolist.jpg') }}" alt="todolist"></a>

       <div class="col-md-6 website">
       <h4>Amélioration d'une application existante</h4>
       <br/>
       <p>Mon rôle ici a été d’améliorer la qualité d'une application MVP sous Symfony.</p>
       <br/>
       <p>Cela m'a donc permis de valider les compétences suivantes :</p>
       <li>Analyser la qualité de code et la performance d’une application</li>
       <li>Lire et retranscrire le fonctionnement d’un morceau de code écrit par d’autres développeurs</li>
       <li>Proposer une série d’améliorations</li>
       <li> Mettre en oeuvre des tests unitaires et fonctionnels</li>
       <li> Produire un rapport de l’exécution des tests</li>
       <li>Établir un plan pour réduire la dette technique d’une application</li>
       <li>Fournir des patchs correctifs lorsque les tests le suggèrent</li>
       <li> Implémenter de nouvelles fonctionnalités au sein d’une application déjà initiée en suivant un plan de collaboration clair</li>
       <br/>
       <p>L'application n'est pas en ligne car peu interressante en elle même, le travail étant surtout fournit sur le code et la documentation rédigée</p>
       <br/>
       <p><a href="https://github.com/S7tH/OPC_Projet8" target="_blank"><img src="{{ asset('img/illustrations/github.png') }}"  alt="GitHub"/></a> &#9754; Repository GitHub du projet</p>
        
       </div>
  
</div>
  
<br/>

<div class="row">
  
       <a class="col-md-4" href="https://github.com/S7tH/OPC_Projet7-Apibilemo" title="Créez un site e-commerce exposant une API" target="_blank"><img class="illusite"  src="{{ asset('img/mincarousel/powerphone.jpg') }}" alt="api bilemo"></a>
  
       <div class="col-md-6 website">
       <h4>Création d'un site e-commerce exposant une API sous Symfony</h4>
       <br/>
       <p>Mon rôle ici a été de créer une api fullrest et une application web client, répondant aux règles de niveaux 1, 2 et 3 du modèle de Ridchardson reliées par L'authentification Oauth de Facebook, le tout fournit en JSON.</p>
       <br/>
       <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel siteCarousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div data-toggle="modal" href="#img1" class="img">
                <img src="{{ asset('img/mincarousel/bilemo1.jpg') }}" alt="1th_slide">
            </div>
            <div class="container">
              <div class="carousel-caption">
                
              </div>
            </div>
          </div>
          <div class="item">
            <div data-toggle="modal" href="#img2" class="img">
            <img src="{{ asset('img/mincarousel/bilemo2.jpg') }}" alt="2th slide">
            </div>
            <div class="container">
              <div class="carousel-caption">
               
              </div>
            </div>
          </div>
          <div class="item">
          <div data-toggle="modal" href="#img3" class="img">
            <img src="{{ asset('img/mincarousel/bilemo3.jpg') }}" alt="3th slide">
            </div>
            <div class="container">
              <div class="carousel-caption">
                
              </div>
            </div>
          </div>
  
           <div class="item">
            <div data-toggle="modal" href="#img4" class="img">
            <img src="{{ asset('img/mincarousel/bilemo4.jpg') }}" alt="4th slide">
            </div>
            <div class="container">
              <div class="carousel-caption">
               
              </div>
            </div>
          </div>
  
          <div class="item">
            <div data-toggle="modal" href="#img5" class="img">
            <img src="{{ asset('img/mincarousel/bilemo5.jpg') }}" alt="5th slide">
            </div>
            <div class="container">
              <div class="carousel-caption">
               
              </div>
            </div>
          </div>

          <div class="item">
            <div data-toggle="modal" href="#img6" class="img">
            <img src="{{ asset('img/mincarousel/bilemo6.jpg') }}" alt="5th slide">
            </div>
            <div class="container">
              <div class="carousel-caption">
               
              </div>
            </div>
          </div>
    
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- /.carousel -->
       <br/>
       <p>Cela m'a donc permis de valider les compétences suivantes :</p>
       <li>Concevoir une architecture efficace et adaptée</li>
       <li>Exposer une API REST avec Symfony</li>
       <li>Analyser et optimiser les performances d’une application</li>
       <li>Lancer une authentification à chaque requête HTTP</li>
       <li>Suivre la qualité d’un projet</li>
       <li>Produire une documentation technique</li>
       <br/>
       <p>L'application n'est pas en ligne pour le moment</p>
       <br/>
       <p><a href="https://github.com/S7tH/OPC_Projet7-Apibilemo" target="_blank"><img src="{{ asset('img/illustrations/github.png') }}"  alt="GitHub"/></a> &#9754; Repository GitHub de l'API</p>
       <p><a href="https://github.com/S7tH/OPC_Projet7-Powerphone" target="_blank"><img src="{{ asset('img/illustrations/github.png') }}"  alt="GitHub"/></a> &#9754; Repository GitHub de l'application client</p>
       </div>
  
</div>

<div class="modal" id="img1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
            <h4 class="modal-title">Page d'accueil de l'application Powerphone</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <img class="col-lg-12" src="{{ asset('img/illustrations/bilemo1.jpg') }}" alt="bilemo 1">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="img2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title">Connexion au serveur Oauth Facebook</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <img class="col-lg-12" src="{{ asset('img/illustrations/bilemo2.jpg') }}" alt="bilemo 1">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="img3">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Liste paginée des produits venant de l'API Bilemo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <img class="col-lg-12" src="{{ asset('img/illustrations/bilemo3.jpg') }}" alt="bilemo 1">
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="img4">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title">Page de description d'un produit de l'API</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <img class="col-lg-12" src="{{ asset('img/illustrations/bilemo4.jpg') }}" alt="bilemo 1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" id="img5">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Page de documentation de l'API</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                      <img class="col-lg-12" src="{{ asset('img/illustrations/bilemo5.jpg') }}" alt="bilemo 1">
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="img6">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                      <h4 class="modal-title">Page de récupération du Token</h4>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                        <img class="col-lg-12" src="{{ asset('img/illustrations/bilemo6.jpg') }}" alt="bilemo 1">
                      </div>
                  </div>
                </div>
              </div>
            </div>

<br/>

<div class="row">
  
       <a class="col-md-4" href="http://snowtrickmania.alwaysdata.net/" title="Développez de A à Z le site communautaire SnowTricks" target="_blank"><img class="illusite"  src="{{ asset('img/mincarousel/snowboard.jpg') }}" alt="snowtrickmania"></a>
  
       <div class="col-md-6 website">
       <h4>Développement de A à Z du site communautaire SnowTricks sous Symfony</h4>
       <br/>
       <p>Mon rôle ici a été de créer un site communautaire autour du thème du snowboard et ses tricks afin de faire partager des informations entre néophytes et professionnels</p>
       <br/>
       <p>Cela m'a donc permis de valider les compétences suivantes :</p>
       <li>Sélectionner les langages de programmation adaptés pour le développement de l’application</li>
       <li>Développer une application proposant les fonctionnalités attendues par le client</li>
       <li>Gérer une base de données MySQL ou NoSQL avec Doctrine</li>
       <li>Organiser son code pour garantir la lisibilité et la maintenabilité</li>
       <li>Prendre en main le framework Symfony</li>
       <li>Prendre en main le moteur de templating Twig</li>
       <li>Respecter les bonnes pratiques de développement en vigueur</li>
       <br/>
       <p>Cliquez sur la vignette à gauche de l'encadré pour visiter le site</p>
       <br/>
       <p><a href="https://github.com/S7tH/OPC_Projet6" target="_blank"><img src="{{ asset('img/illustrations/github.png') }}"  alt="GitHub"/></a> &#9754; Repository GitHub du projet</p>
       
       </div>
  
</div>
  
<br/>

<div class="row">
  
       <a class="col-md-4" href="http://sethsblog.atspace.eu/" title="Créez votre premier blog en PHP" target="_blank"><img class="illusite"  src="{{ asset('img/mincarousel/blog.jpg') }}" alt="blog"></a>
  
       <div class="col-md-6 website">
       <h4>Création de mon premier blog en PHP</h4>
       <br/>
       <p>Mon rôle ici a été de créer un blog en PHP POO et d'instaurer une architecture MVC</p>
       <br/>
       <p>Cela m'a donc permis de valider les compétences suivantes :</p>
        <li>Analyser un cahier des charges</li>
        <li>Gérer ses données avec une base de données</li>
         <li>Rédiger les spécifications détaillées du projet</li>
         <li>Proposer un code propre et facilement évolutif</li>
         <li>Choisir une solution technique adaptée parmi les solutions existantes si cela est pertinent</li>
         <li>Assurer le suivi qualité d’un projet</li>
         <li>Créer et maintenir l’architecture technique du site</li>
         <li>Conceptualiser l'ensemble de son application en décrivant sa structure (Entités / Domain Objects)</li>
         <li>Créer une page web permettant de recueillir les informations saisies par un internaute</li>
         <li>Estimer une tâche et tenir les délais</li>
         <br/>
         <p>Cliquez sur la vignette à gauche de l'encadré pour visiter le site</p>
         <br/>
         <p><a href="https://github.com/S7tH/OPC_Projet5/tree/aftermath" target="_blank"><img src="{{ asset('img/illustrations/github.png') }}"  alt="GitHub"/></a> &#9754; Repository GitHub du projet</p>
         
       </div>
  
</div>
  
<br/>

<div class="row">
  
       <a class="col-md-4" href="https://github.com/S7tH/OPC_Projet4" title="Concevez la solution technique d'une application de restauration en ligne, Express Food" target="_blank"><img class="illusite"  src="{{ asset('img/mincarousel/foodtruck.jpg') }}" alt="Express food"></a>
  
       <div class="col-md-6 website">
       <h4>Concevoir la solution technique d'une application de restauration en ligne, Express Food</h4>
       <br/>
       <p>Mon rôle ici a été de concevoir la base de données d'une futur application</p>
       <br/>
       <p>Cela m'a donc permis de valider les compétences suivantes :</p>
       <li>Réaliser des schémas UML cohérents et en accord avec les besoins énoncés</li>
        <li>Implémenter le schéma de données dans la base</li>
        <li>Concevoir l’architecture technique d’une application à l’aide de diagrammes UML</li>
        <li>Réaliser un schéma de conception de la base de données de l’application</li>
        <br/>
        <p>Il n'y a pas d'application physique dans le cadre de ce projet</p>
        <br/>
        <p><a href="https://github.com/S7tH/OPC_Projet4" target="_blank"><img src="{{ asset('img/illustrations/github.png') }}"  alt="GitHub"/></a> &#9754; Repository GitHub du projet</p>
        
       </div>
  
</div>
  
<br/>

<div class="row">
  
       <a class="col-md-4" href="http://filmair.890m.com/" title="Analysez les besoins de votre client pour son Festival de films" target="_blank"><img class="illusite"  src="{{ asset('img/mincarousel/filmair.jpg') }}" alt="filmair"></a>
  
       <div class="col-md-6 website">
       <h4>Analyse des besoins d'un client pour son Festival de films</h4>
       <br/>
       <p>Mon rôle ici a été de concevoir un site web pour une association sous le CMS Wordpress</p>
       <br/>
       <p>Cela m'a donc permis de valider les compétences suivantes :</p>
       <li>Sélectionner un thème Wordpress adapté aux besoins du client</li>
       <li>Adapter un thème Wordpress pour respecter les exigences du client</li>
       <li>Rédiger une documentation à l'intention d'utilisateurs non spécialistes</li>
       <br/>
       <p>Cliquez sur la vignette à gauche de l'encadré pour visiter le site</p>
       <br/>
       <p><a href="https://github.com/S7tH/OPC_Projet2" target="_blank"><img src="{{ asset('img/illustrations/github.png') }}"  alt="GitHub"/></a> &#9754; Repository GitHub du projet</p>
       
       </div>
  
    </div>

  <br/>

  <div class="row">
      
               <a class="col-md-4" href="http://chalet-et-caviar.atspace.eu/" title="Intégrez un thème Wordpress pour un client" target="_blank"><img class="illusite"  src="{{ asset('img/mincarousel/chaviar.jpg') }}" alt="chalet&caviar"></a>
          
               <div class="col-md-6 website">
               <h4>Intégration d'un thème Wordpress pour un client</h4>
               <br/>
               <p>Mon rôle ici a été de concevoir un site web pour une agence de location de chalets de luxe sous le CMS Wordpress</p>
               <br/>
               <p>Cela m'a donc permis de valider les compétences suivantes :</p>
               <li>Analyser un cahier des charges</li>
               <li>Choisir une solution technique adaptée parmi les solutions existantes si cela est pertinent</li>
               <li>Rédiger les spécifications détaillées du projet</li>
               <li>Lister les fonctionnalités demandées par un client</li>
               <br/>
               <p>Cliquez sur la vignette à gauche de l'encadré pour visiter le site</p>
               <br/>
               <p><a href="https://github.com/S7tH/OPC_Projet3" target="_blank"><img src="{{ asset('img/illustrations/github.png') }}"  alt="GitHub"/></a> &#9754; Repository GitHub du projet</p>        
          
               </div>
          
            </div>
          
          
          <br/>

<div class="row">
  
   <a class="col-md-4" href="http://r4id.atspace.eu/" title="Mon premier site Php" target="_blank"><img class="illusite"  src="{{ asset('img/mincarousel/minsiter4id.jpg') }}" alt="site R4ID"></a>

   <div class="col-md-6 website">
   <h4>Mon premier site forum en PHP</h4>
   <br/>
   <p>Ce site forum est le premier que j'ai conçu entièrement en php procédural au notepad++ et photoshop.</p>
   <p>Il était originellement destiné à une communauté de joueurs en ligne.</p>
   <p>Il me sert finalement de vitrine, cependant j'ai pour projet de le refondre sous Symfony.</p>

   </div>
   

</div>

<br/>

  <div class="row">
      <br/>
      <h3 class="folio-title">Mon code</h3>
      <br/>
    
       <a class="col-md-4" href="https://github.com/s7th" title="Mon adresse GitHub" target="_blank"><img class="illusite"  src="{{ asset('img/mincarousel/mincoding.jpg') }}" alt="Mon adresse GitHub"></a>
    
       <div class="col-md-6 website">
       <h4>Mon adresse GitHub</h4>
       <br/>                
       <p><a href="https://github.com/s7th" target="_blank"><img src="{{ asset('img/illustrations/github.png') }}"  alt="GitHub"/></a> &#9754; Dépôt GitHub où sont tenus mes projets.</p>
    
       </div>
    
    </div>
  
<br/>

	<div class="row">
		<br/>
			<h3 class="folio-title">Création de bannières et logos via Photoshop et Illustrator</h3>
        <br/>
				<br/>
    <div class="col-md-4">
      <!-- Carousel
    ================================================== -->
    <div id="myCarousel1" class="carousel img1Carousel slide" data-ride="carousel">
    <img class="r4idlogo" src="{{ asset('img/mincarousel/minilogo_raid1.png') }}" alt="1th_slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
        <li data-target="#myCarousel1" data-slide-to="2"></li>
        <li data-target="#myCarousel1" data-slide-to="3"></li>
        <li data-target="#myCarousel1" data-slide-to="4"></li>
        <li data-target="#myCarousel1" data-slide-to="5"></li>
        <li data-target="#myCarousel1" data-slide-to="6"></li>
        <li data-target="#myCarousel1" data-slide-to="7"></li>
        <li data-target="#myCarousel1" data-slide-to="8"></li>
        <li data-target="#myCarousel1" data-slide-to="9"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minlogo1.jpg') }}" alt="1th_slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minlogo2.jpg') }}" alt="2th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>
        <div class="item">
        <div class="img">
          <img src="{{ asset('img/mincarousel/minlogo9.jpg') }}" alt="3th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>

         <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minlogo3.jpg') }}" alt="4th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>

        <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minlogo4.jpg') }}" alt="5th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>

        <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minlogo5.jpg') }}" alt="6th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>

        <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minlogo6.jpg') }}" alt="7th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>

        <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minlogo7.jpg') }}" alt="8th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>

        <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minlogo8.jpg') }}" alt="9th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>



      </div>
      <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    </div>
 
    <div class="col-md-6 website">
     <h4>Quelques logos et bannières créées pour la communauté R4ID</h4>
     <br/>
       <p>Créer des logos bannières background etc m'a toujours fascinés, c'est une carte d'identité graphique quelque part...</p>
       <p>Cela donne le ton aux choses et j'aime faire transparaître mon ressenti à travers cela, un peu comme une personne qui s'habille en blouson de cuir et se dit "avec ça j'aurai l'air d'un vrai motard".</p>
       <p>Le petit logo R4iD doré en haut à gauche du carrousel a été créé à partir d'une vingtaine de petites illustrations que l'on trouve sur le site du "battlelog". Ainsi l'on pouvait voir ce tag sur nos personnages en jeu.</p>
    </div>

</div>
<div class="row">
   <br/>
	<h3 class="folio-title">Exercices Photoshop</h3>
   <br/>
	<div class="col-md-4">
      <!-- Carousel2
    ================================================== -->
    <div id="myCarousel2" class="carousel img2Carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel2" data-slide-to="1"></li>
        <li data-target="#myCarousel2" data-slide-to="2"></li>
        <li data-target="#myCarousel2" data-slide-to="3"></li>
        <li data-target="#myCarousel2" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minillu1.jpg') }}" alt="1th_slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minillu2.jpg') }}" alt="2th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>
        <div class="item">
        <div class="img">
          <img src="{{ asset('img/mincarousel/minillu3.jpg') }}" alt="3th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>

         <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minillu4.jpg') }}" alt="4th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>

        <div class="item">
          <div class="img">
          <img src="{{ asset('img/mincarousel/minillu5.jpg') }}" alt="5th slide">
          </div>
          <div class="container">
            <div class="carousel-caption">
             
            </div>
          </div>
        </div>


      </div>
      <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel2 -->
  </div>

    <div class="col-md-6 website">
     <h4>Quelques travaux Photoshop établis lors de ma formation CNFDI</h4>
     <br/>
      <p>Il n'y a pas grand-chose à dire, j'ai adapté mon style personnel en prenant compte des consignes que l'on m'a données lors de ces exercices où je devais utiliser certaines options du logiciel.</p>
    
    </div>

</div>
<br/>

<div class="row">
<div class="col-md-4">
<img class="animationgif" width="300" height="300" src="{{ asset('img/illustrations/Exercice_photoshop5.gif') }}" alt="1th_slide">
</div>

<div class="col-md-6 website">
    <h4>Un travail d'animation sous Photoshop</h4>
  <br/>
      <p>Dans cet exercice j'ai dû créer une animation image par image comme sous flash mais avec Photoshop</p>
      <p>Le rendu vaut ce qu'il vaut mais je me suis bien amusé à le faire.</p>
    
</div>

</div>

<br/>

<div class="row">
<br/>
  <h3 class="folio-title">Exercices sous Flash</h3>
   <br/>
<div class="col-md-4">
<!--illustration flash 1-->

			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="550" height="400" id="Realisation1" align="middle">
				<param name="movie" value="Realisation1.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#000000" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<!--[if !IE]>-->

				<object class="illuflash " type="application/x-shockwave-flash" data= {{ asset('img/mincarousel/Realisation1.swf') }} width="300" height="300">
					<param name="movie" value="Realisation1.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#000000" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="window" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Obtenir Adobe Flash Player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
		
</div>

<div class="col-md-6 website">
    <h4>Un travail d'animation du curseur sous Flash</h4>
    <br/>
      <p>J'ai appris malgré la déclinaison de Flash à l'utiliser un petit peu.</p>
      <p>Le but de cet exercice était de transformer le curseur en halo de lumière.</p>
      <p>Si vous placez celui-ci sur le lampadaire du centre, cela lui donne l'illusion d'être allumé.</p>
</div>

</div>

<br/>

<div class="row">
  <div class="col-md-4">
<!--illustration flash 2-->
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="550" height="400" id="realisation2" align="middle">
				<param name="movie" value="realisation2.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#000000" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<!--[if !IE]>-->
				<object class="illuflash" type="application/x-shockwave-flash" data="{{ asset('img/mincarousel/Realisation2.swf') }}" width="300" height="300">
					<param name="movie" value="realisation2.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#000000" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="window" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Obtenir Adobe Flash Player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
		</div>
 

  <div class="col-md-6 website">
    <h4>Création de publicité sous Flash</h4>
    <br/>
      <p>Je devais créer comme le titre l'indique une publicité sur le thème de Londres sans plus d'informations que le nom de la ville elle-même.</p>
  </div>
</div>
<br/>

<div class="row">
   <div class="col-md-4">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="600" height="373" id="realisation3" align="middle">
				<param name="movie" value="realisation3.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#000000" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<!--[if !IE]>-->
				<object class="illuflash" type="application/x-shockwave-flash" data="{{ asset('img/mincarousel/Realisation3.swf') }}" width="300" height="300">
					<param name="movie" value="realisation3.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#000000" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="window" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Obtenir Adobe Flash Player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
	</div>

  <div class="col-md-6 website">
    <h4>Une autre création de publicité sous Flash</h4>
    <br/>
      <p>Encore une création de publicité dynamique dans laquelle je devais jouer avec les effets de polymorphisme.</p>
  </div>


</div>
t
</div>   
</article>   

{% endblock %}
